PySide6==6.9.3
PyYAML==6.0.3
jsonschema==4.25.1
qiskit==2.2.1
qiskit-aer==0.17.2
qiskit-ibm-runtime==0.42.0
python-dotenv==1.1.1
networkx==3.5
matplotlib==3.10.6
numpy==2.3.3
stable-baselines3==2.7.0
scikit-learn==1.7.2
pandas==2.3.3
torch==2.8.0
gymnasium==1.2.1
stim==1.15.0
pymatching==2.3.1
google-cloud-aiplatform==1.119.0
google-cloud-storage==2.19.0
google-cloud-logging==3.12.1
cryptography==46.0.2
keyring==25.6.0
boto3==1.40.46